addrepo.sh
ios/Shootr.xcodeproj/project.xcworkspace/xcuserdata/christian.xcuserdatad/UserInterfaceState.xcuserstate
ios/Shootr.xcodeproj/xcuserdata
ios/Shootr.xcodeproj/project.xcworkspace/xcshareddata/Shootr.xccheckout