/*!
	Estilos para gráficas con Chart.js
 */
.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 30px auto 0;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    position: relative;
    font-weight: 200;
    font-size: 11pt !important;
    display: block;
    float: left;
    width: 50%;
    font-size: 0.8em;
}
.chart-legend  li span {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
}