/*!
	Estilos para gráficas con Chart.js
 */
.chart-legend ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 5px auto 0;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    /*position: relative;*/
    font-weight: 200;
    font-size: 11pt !important;
    margin-top:3px;
    display: block;
    float: left;
    width: 50%;
    font-size: 0.8em;

}
.chart-legend  li span {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    content: "";
}

.vertical-chart li {
    width: 100%; !important;
}