<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shootr.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Account management -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="${packageName}.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- optional -->

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="${packageName}.permission.C2D_MESSAGE" />

    <permission
        android:name="${packageName}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".ShootrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ShootrTheme" >
        <activity
            android:name=".ui.activities.MainTabbedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.EventTimelineActivity" >
        </activity>
        <activity
            android:name=".ui.activities.registro.LoginSelectionActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/ShootrTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activities.registro.EmailRegistrationActivity"
            android:label="@string/title_activity_registration_email"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.activities.registro.EmailLoginActivity"
            android:label="@string/title_activity_login_email" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.registro.LoginSelectionActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PostNewShotActivity"
            android:theme="@style/ShootrTheme.NoActionBar.Floating" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ProfileContainerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainTabbedActivity" />
        </activity>
        <activity android:name=".ui.activities.UserFollowsContainerActivity" >
        </activity>
        <activity
            android:name=".ui.activities.FindFriendsActivity"
            android:label="@string/activity_find_friends_title"
            android:theme="@style/ShootrTheme.Closable" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainTabbedActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EventDetailActivity"
            android:label="@string/activity_info_title"
            android:theme="@style/ShootrTheme.TranslucentToolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainTabbedActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ProfileEditActivity"
            android:label="@string/profile_edit_profile"
            android:parentActivityName=".ui.activities.ProfileContainerActivity"
            android:theme="@style/ShootrTheme.Closable" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shootr.android.ui.activities.ProfileContainerActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ShotDetailActivity"
            android:parentActivityName=".ui.activities.EventTimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.EventTimelineActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PhotoViewActivity"
            android:theme="@style/ShootrTheme.PhotoViewer" >
        </activity>
        <activity
            android:name=".ui.activities.NewEventActivity"
            android:label="@string/activity_new_event_title"
            android:theme="@style/ShootrTheme.Closable" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainTabbedActivity" />
        </activity>
        <activity
            android:name=".ui.activities.DraftsActivity"
            android:label="@string/activity_drafts_title"
            android:theme="@style/ShootrTheme.DarkToolbar" >
        </activity>
        <activity
            android:name=".ui.activities.UpdateWarningActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activities.ActivityTimelineContainerActivity"
            android:label="@string/drawer_activity_title" />

        <service android:name=".data.background.ShotDispatcherBackgroundService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookID" />

        <receiver
            android:name=".notifications.gcm.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.gcm.NotificationIntentReceiver" >
            <intent-filter>
                <action android:name="com.shootr.android.ACTION_DISCARD_SHOT_NOTIFICATION" />
                <action android:name="com.shootr.android.ACTION_OPEN_SHOT_NOTIFICATION" />
                <action android:name="com.shootr.android.ACTION_OPEN_PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notifications.gcm.GCMIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="51ae38f9afc83455fd0ae5f47de08cc2aff97662" />

        <activity
            android:name=".ui.activities.EventMediaActivity"
            android:label="@string/title_activity_event_media" />
        <activity
            android:name=".ui.activities.registro.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name=".ui.activities.ListingActivity"
            android:label="@string/title_activity_listing" >
        </activity>
        <activity
            android:name=".ui.activities.FindEventsActivity"
            android:label="@string/activity_find_events_title"
            android:theme="@style/ShootrTheme.Closable">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
          android:configChanges=
            "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:label="@string/app_name" />
    </application>

</manifest>
