<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gm.mobi.android">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".ui.activities.LogReaderActivity"
            android:label="Log Viewer">
        </activity>

    </application>

</manifest>
